<section>
  <a href="/">&#8592; Home</a>
<br/>
<br>
    <h1>Property Search</h1>
<br/>
<br/>
<form action='/properties/list' method = "POST" id = "filters" class="property-filters">

<div>
<label>For:</label>
<select value="{{sellType}}" id="sellType" name="sellType" placeholder="Select">
          <option value="" disabled selected>Select</option>
          <option value="Sale">Sale</option>
          <option value="Rent">Rent</option>
        </select>
</div>
<br>
<div>
<label>Home</label>
<select value="{{homeType}}" id="homeType" name="homeType">
          <option value="" disabled selected>Select</option>
          <option value="apartment">Apartment</option>
          <option value="house">House</option>
          <option value="both">Both</option>
        </select>
</div>
<br>
<div>
<label>
        Price:
        <input type = "number" id="price" name="price" value="{{price}}" placeholder="Enter a value"/>
</label>
</div>
<br>
<div>
<label>Number of Bedrooms</label>
<select value="{{numofBedrooms}}" id="numofBedrooms" name="numofBedrooms" placeholder="Select">
          <option value="" disabled selected>Select</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6+</option>
        </select>
</div>
<br>
<div>
<label>Number of Bathrooms</label>
<select value="{{numofBathrooms}}" id="numofBathrooms" name="numofBathrooms" placeholder="Select">
          <option value="" disabled selected>Select</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6+</option>
        </select>
</div>
<br>
<div>
<label>
        Square Feet:
        <input type = "number" id="squareFeet" name="squareFeet" value="{{squareFeet}}" placeholder="Enter a value"/>
</label>
</div>
<br>
<div>
<label>
        Location:
        <input type = "text" id="location" name="location" value="{{location}}" placeholder="Enter a Street"/>
</label>
</div>
<br>
<center>
    <button type="submit" class="submitbutton-form">Search</button>    
</center>
</form>
</section>

