<a href="/"> &#8592; Home</a>

<h1>{{title}} Property</h1>
<article class="properties">
  <div>
    <img alt= "{{show.name}}" src= "{{show.image.medium}}"/>
    <dl>
      <dt>Sell Type:</dt>
      <dd>{{properties.sellType}}</dd>
      <dt>Type of Home:</dt>
      <dd>{{properties.homeType}}</dd>
      <dt>Price:</dt>
      <dd>{{properties.price}}</dd>
      <dt>Number of Bedrooms:</dt>
      <dd>{{properties.numofBedrooms}}</dd>
      <dt>Number of Bathrooms:</dt>
      <dd>{{properties.numofBathrooms}}</dd>
      <dt>Square Feet:</dt>
      <dd>{{properties.squareFeet}}</dd>  
      <dt>Street Name:</dt>
      <dd>{{properties.streetname}}</dd>
      <dt>Seller:</dt>
      <dd>{{properties.Seller}}</dd>
    </dl>
    </div>

        
        
        