<a href="/"> &#8592; Home</a>


<h1>{{property.title}} Property</h1>
<article class="properties">
  {{#if isSeller}}
  {{else}}
      <button onclick="AddFav()" id="favbtn" class="addtofav" >Add to favorites</button>
  {{/if}}
  <div>
    {{!-- <img alt= "{{show.name}}" src= "{{show.image.medium}}"/> --}}
    <dl>
      <dt>Sell Type:</dt>
      <dd>{{property.sellType}}</dd>
      <dt>Type of Home:</dt>
      <dd>{{property.homeType}}</dd>
      <dt>Price:</dt>
      <dd>${{property.price}}</dd>
      <dt>Number of Bedrooms:</dt>
      <dd>{{property.numofBedrooms}}</dd>
      <dt>Number of Bathrooms:</dt>
      <dd>{{property.numofBathrooms}}</dd>
      <dt>Square Feet:</dt>
      <dd>{{property.squareFeet}}</dd>  
      <dt>Street Name:</dt>
      <dd>{{property.streetname}}</dd>
      <dt>Seller:</dt>
      <dd>{{property.Seller}}</dd>
    </dl>

  </div>
  <div>
    <h2>Comments</h2>
    {{#if comments.length}}
    <ul>
      {{#each comments}}
      <li>{{this.username}}: "{{this.comment}}"</li>
      {{/each}}
    </ul>
    {{else}}
    <p>No comments yet!</p>
    {{/if}}

    <form method= "POST" action="/properties/{{property._id}}" id="comment-form">    
      <label>
          Add a comment:
          <br>
        <textarea type="comment" name="comment" id="comment" placeholder="Comment here"></textarea>
        <input type="submit" class="commmentsubmitbutton-form" value="Submit">
      </label>
    </form>
<br>
<br>
    <a href="javascript:history.go(-1)"> &#8592; Back</a>
<br>
<br>
    {{#if isSeller}}
    <form method = "post" action="/private/removeproperty/{{property._id}}">
      <button type="submit" class="remove-btn">Remove Property</button>
      <input name='_method' value="DELETE" hidden/>
    </form>
    <form method = "post" action="/private/propertysold/{{property._id}}">
      <button type="submit" class="sold-btn">Sold</button>

      <input name= '_method' value="DELETE" hidden/>
    </form>
    {{/if}}
  </div>