<nav>
    <button onclick="location.href='/private/addProperty'" class=".nav-left" type="button">List a property</button>
    <button onclick="location.href='/properties/filters'" class=".nav-left" type="button">Search a property</button>
    </nav>
<div> 
  <br>
<a href="/"> &#8592; Home</a>
  <br><br>
  <h1>{{title}}</h1>
  <p>Username: {{user.username}}</p> 
  <p>First Name: {{user.userFirstName}}</p> 
  <p>Last Name: {{user.userLastName}}</p> 
  <p>Email: {{user.email}}</p> 
  <p>Phone number: {{user.phoneNumber}}</p> 
  <p>Age: {{user.age}}</p> 
  <dl>
    <dt>Properties : </dt> 
      <dd>
        <ol>
          {{#each user.Properties}} 
          <li>
            <div class="property-list">
              <a href="properties/single/:{{Properties._id}}">
                <p>{{title}}</p>
                <img src="/public/Sample_house4.png" style="width:200px; height:180px;">
                <p class="property-list-info">{{homeType}} - ${{price}} ({{sellType}}): {{numofBedrooms}} beds {{numofBathrooms}} baths</p>
              </a>
            </div>
          </li>
          {{else}}
          <p class="empty">You do not have any properties to sell/rent yet</p>
          {{/each}}
        </ol>
          
      </dd> 
    <dt>Favorites :</dt> 
      <dd> 
        <ul>
          {{#each user.favorites}} 
          <li>{{this}}</li>
          {{else}}
          <p class="empty">You do not have any favorites yet</p>
          {{/each}}
        </ul> 
      </dd>
<br>
<center>
  <a href="/users/logout/" class="logout-btn"  type="button">Log Out</a>
</center>

</div>

