<section>
    <h1>Sign up</h1>

    <form  method="POST" action="/users/signup" id="signup-form" class="new-user-form">
      <label>
        First Name:
        <input type = "text" id="userFirstName" name="userFirstName" value="{{user.userFirstName}}" placeholder="Enter your first name"/>
      </label>
      
      <br/>
      <br/>
      
      <label>
        Last Name:
        <input type = "text" id="userLastName" name="userLastName" value="{{user.userLastName}}" placeholder="Enter your last name"/>
      </label>
      
      <br/>
      <br/>

      <label>
        UserName:
        <input type = "text" id="username" name="username" value="{{user.username}}" placeholder="Enter a Username"/>
      </label>

      <br/>
      <br/>

      <label>  
        Gender:
        <input type="radio" name="user-gender" value="1" /> Male
        <input type="radio" name="user-gender" value="2" /> Female
        <input type="radio" name="user-gender" value="3" /> Other
        <input type="radio" name="user-gender" value="4" /> Do not wish to answer
      </label>

      <br/>
      <br/>

      <label>
        Date of birth:
        <input type = "date" id="dob" name="dob" value="{{user.dob}}" placeholder="Enter your date of birth"/>
      </label>  

      <br/>
      <br/>

      <label>
        Age:
        <input type = "text" id="age" name="age" value="{{user.age}}" placeholder="Enter your age"/>
      </label>
      <br/>
      <br/>
      
      <label>
        Phone number:
        <input type = "tel" id="tel" name="tel" value="{{user.tel}}" placeholder="Enter your phone number"/>
      </label>    

      <br/>
      <br/>
      
      <label>
        Email Address:
        <input type = "email" id="email" name="email" value="{{user.email}}" placeholder="Enter your Email address"/>
      </label>

      <br/>
      <br/>

      <label>
        Create Password:
        <input type="password" id="password" name="password"  value="{{user.password}}" class="full-width-input"/>
      </label>

      <br/>
      <br/>

      <label>
        Confirm Password:
        <input type="password" id="password-confirm" name="password-confirm" class="full-width-input"/>
      </label>
      
      <br/>
      <br/>

      <label>
        Preferred Contact:
        <input type = "checkbox" name="contactType" value="Email">Email
        <input type = "checkbox" name="paymentType" value="phone"/>Phone
      </label>

      <br><br>
    Already have an account? <a href="login">Log in</a>
    <br><br>

      <button type="submit">SIGN UP</button>
      {{#each errors}}
              <div class = "error">{{this}}</div>
      {{/each}}
    </form>
</section>