<section>
  <a href="/">&#8592; Home</a>

    <h1>Sign up</h1>

    <form  method="POST" action="/users/signup" id="signup-form" class="new-user-form" onsubmit="submitButton.disabled = true; return true;">
      <label>
        First Name:
        <input type = "text" name="userFirstName" id="userFirstName"  value="{{user.userFirstName}}" placeholder="Enter your first name"/>
      </label>
      
      <br/>
      <br/>
      
      <label>
        Last Name:
        <input type = "text" name="userLastName" id="userLastName" value="{{user.userLastName}}" placeholder="Enter your last name"/>
      </label>
      
      <br/>
      <br/>

      <label>
        UserName:
        <input type = "text" name="username" id="username" value="{{user.username}}" placeholder="Enter a Username"/>
      </label>

      <br/>
      <br/>

      <label>  
        Gender:
        <input type="radio" id="user-gender" name="user-gender"value="1" /> Male
        <input type="radio" id="user-gender" name="user-gender" value="2" /> Female
        <input type="radio" id="user-gender" name="user-gender" value="3" /> Other
        <input type="radio" id="user-gender" name="user-gender" value="4" /> Do not wish to answer
      </label>

      <br/>
      <br/>

      <label>
        Age:
        <input type = "text" name="age" id="age" value="{{user.age}}" placeholder="Enter your age"/>
      </label>
      <br/>
      <br/>
      
      <label>
        Phone number:
        <input type = "tel" name="tel" id="tel" value="{{user.tel}}" placeholder="Enter your phone number"/>
      </label>    

      <br/>
      <br/>
      
      <label>
        Email Address:
        <input type = "email" name="email" id="email" value="{{user.email}}" placeholder="Enter your Email address"/>
      </label>

      <br/>
      <br/>

      <label>
        Create Password:
        <input type="password" name="password" id="password"  value="{{user.password}}" class="full-width-input"/>
      </label>

      <br/>
      <br/>

      <label>
        Confirm Password:
        <input type="password" name="password_confirm" id="password_confirm" value="{{user.password_confirm}}" class="full-width-input"/>
      </label>
      
      <br/>
      <br/>

      <label>
        Preferred Contact:
        <input type = "checkbox" id="contactType" name="contactType" value="Email">Email
        <input type = "checkbox" id="paymentType" name="paymentType" value="phone"/>Phone
      </label>

      <br><br>
    Already have an account? <a href="login">Log in</a>
    <br><br>
      {{#each errors}}
              <div class = "error">{{this}}</div>
      {{/each}}
      <br>
      <center>
        <button type="submit" class="submitbutton-form">SIGN UP</button>
      </center>
      
      
    </form>
</section>